html {
  font-size: 62.5%; /* 16px * 62.5% = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.brand a {
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: bold;
}
.header-links a {
  color: #ffffff;
  margin-left: 1rem;
}
.header-links a:hover {
  color: #ff8000;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Home Screen */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 50rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}
.product-name {
  font-size: 2rem;
  font-weight: bold;
}
.product-brand {
  font-size: 1.2rem;
  color: #808080;
}
.product-price {
  font-size: 2rem;
  font-weight: bold;
}
.product-rating {
  margin-bottom: 1rem;
}

/* Sidebar */
.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
}
.sidebar-close-button:active,
.brand button:active {
  outline: none;
}
.brand .menu {
  width: 2rem;
  height: 2rem;
}
.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #f0f0f0;
  height: 100vh;
}
.sidebar.open {
  transform: translateX(0);
}
.sidebar-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0.5rem;
  border: 0.1rem #000000 solid;
}
